
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
  margin: 0;
  background-color: black;
  overflow: hidden; /* Hide scrollbars */
}
.menu {
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
  border: 1px solid #ffffff8f;
  background-color: #ffffff69;
  width: 550px;
  height: fit-content;
  margin: auto;
  line-height: 0.7;
  padding: 20px;
  position: fixed;
  text-align: center;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  cursor: grab;
}
label {

  color: #323232;
  font-weight: bold;
}
h1 {
  color: #323232;
  /* font-family: 'Rubik', sans-serif; */
  font-weight: bold;
  font-style: italic;

}

h2 {

  color: #323232;
  /* font-family: 'Rubik', sans-serif; */
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
.close {
  cursor: pointer;
  color: #222222;
  border: 1px solid transparent;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
}
.statsDiv {
  position: absolute;
  top: 5px;
  right: 5px;
}

.sidebar {
  /* text-align: center;
  height: 100%;
  width: fit-content;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111c7;
  overflow-x: hidden; */

  text-align: center;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #111111c7;
  overflow-x: hidden;
  /* justify-content: space-between; */
  justify-content: center;
  display: flex;
  padding: 10px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.sidebar a {
  padding: 12px 12px 12px 12px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.optionsMenu {
  cursor: grab;
  border: 1px solid #7272728f;
  background-color: #474747c2;
  width: 450px;
  min-height: 450px;
  margin: auto;
  line-height: 2;
  padding: 20px;
  position: fixed;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  top: 15%;
  left: 45%;
  /* box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px; */
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.optionsMenu > h1 {
color: white !important;
}
.optionsMenu > p {
  color: white !important;
  }
.options {
  margin: auto;
  width: fit-content;
}
.center {
  align-items: center;
  align-content: center;
  text-align: center;
}

/* CSS */
.botonSave {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.botonSave:hover,
.botonSave:focus {
  opacity: 0.75;
}

.hora {
  color: #818181;
  font-weight: 800;
  padding: 20px;
 
}

* {

  font-family: 'Roboto', sans-serif;
   
}
.casillero {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.divInventario {
  margin: 0px;
  padding: 0px;
}

.dropbtn {
  background-color: #04aa6d00;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 3px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

/* .dropdown:hover .dropdown-content {display: block;} */

/* .dropdown:hover .dropbtn {background-color: #8bd48d94;} */

.infoArma {
  background-color: #222;
  border-top: 2px solid rgb(129, 129, 129);
  padding: 5px;
  border-radius: 0px 0px 5px 5px;

}
.infoArma > p {
  color: white;

}
.accionItemLeyenda {

  font-weight: 600;
}
.contenedorItems {
  /* background-image: url('../img/inventario.jpg'); */
  min-height: 100px;
  padding: 5px;
  width: 440px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.casillero {
  cursor: pointer;
}
.pj {
  border-collapse: collapse;
  width: 100%;
  height: 280px;
}
.imagenPj {
  background-image: url(../img/pj.png);
  width: 223px;
  background-position: center;
  background-repeat: no-repeat;

  background-size: contain;
}

.contenedorArmadura {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f0f8ff33;
  position: absolute;
  top: 75px;
  left: 100px;
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contenedorArma {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f0f8ff33;
  position: absolute;
  top: 135px;
  left: 35px;
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.contenedorAnillo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f0f8ff33;
  position: absolute;
  top: 135px;
  left: 160px;
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.contenedorCollar {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f0f8ff33;
  position: absolute;
  top: 18px;
  left: 100px;
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.statsPj {
  line-height: 0.8;
  color:  white !important;
  font-size: large !important;
}
.statsPj > h1{
  color:  white !important;
}
.textoStatsPj {
  text-align: left;
  color:  white;
}

.vistaPreviaArmadura {
  background-color: #222;
  color: white;
  position: absolute;
  top: 135px;
  left: 50px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.vistaPreviaArma {
  background-color: #222;
  color: white;
  position: absolute;
  top: 135px;
  left: -125px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.vistaPreviaCollar {
  background-color: #222;
  color: white;
  position: absolute;
  top: 5px;
  left: 170px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.vistaPreviaAnillo {
  background-color: #222;
  color: white;
  position: absolute;
  top: 135px;
  left: 215px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.navItem {
  margin-right: 20px;
  color: #818181;
  display: block;
  font-weight: bolder;
}
.morirCartel{
  position: absolute;
  top: 289px;
  left: 260px;
  color: red !important;
  font-size: xxx-large;
  width: 600px;
  
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4d4d, 0 0 40px #ff4d4d, 0 0 50px #ff4d4d, 0 0 60px #ff4d4d, 0 0 70px #ff4da6, 0 0 80px #f1464e;
  }
}
.infoEnemigo{  
  position: absolute;
  left: 260px;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  width: 350px;
}
.infoEnemigo > p{
  font-size: large;
  line-height: normal;
  margin: 0px;
  padding: 0px;
  color: white;
}
.barraSalud {
  background-color: red !important;
}
.levelup{
  color: white;
  position: absolute;
  left: 260px;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  width: 350px;
}